DL_CNN_Classification/CNN_CatandDog/cats_vs_dogs_ResNet50.h5
DL_CNN_Classification/CNN_90_Animals/model_efficentnetB3_90_Animal.h5
DL_CNN_Classification/CNN_Natural_View/model_efficientnet_sea_building.h5
